$card-height: 100%;

.card {
    transform: scale3d(.95,.95,.95);
    transition: all .15s;

    .card-link {
        color: $gray-900;
        margin: 0px
    }

    .card-content {
        padding: 0px;

        .card-thumbnail {
            position: relative;

            .card-title {
                padding-left: 20px;
                position: absolute;
                color: $white;
                bottom: 0px;
            }
        }

        .card-info {
            bottom: 0;
            height:50%;
            width: 100%;
            display:grid;
            grid-template-columns:repeat(2,1fr);
            grid-template-rows:repeat(2,1fr);

            .card-item {
                justify-self:auto;
                align-self:stretch;
                padding:.5rem 0;
                border-bottom:1px solid $gray-200;

                .card-label, .card-text,  {
                    text-align:center;
                }


                .card-label {
                    color:$gray-600;
                    font-size:.75rem;
                }

                .card-text {
                    color:$gray-900;
                    font-size:1rem;
                    font-weight:700
                }

                @media (min-width:320px) and (max-width:1024px) {
                    .card-text {
                        font-size:.85rem
                    }
                }
            }

            .card-item:nth-child(n+3) {
                border-bottom:0px;
            }

            .card-item:nth-child(2n+1) {
                border-right:1px solid $gray-200;
            }

            @media (min-width:320px) and (max-width:1024px) {
                .card-item {
                    padding:.25rem 0
                }
            }
        }
    }
}

.card:hover {
    transform: scale3d(1,1,1);
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 8;
  }
}

