{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}




<div class="container">
<!-- call up the image and image credit link -->
  {{ with .Params.Image }}
    <img itemprop="image" src="{{ . }}" class="img-fluid" />
  {{ end }}

  <div class="jumbotron jumbotron-fluid">
    <h1 class="post-title center m1 sm-mt3" itemprop="name">{{ .Title }}</h1>

    {{ with .Params.Description }}
      <p>{{ . }}</p>
    {{ end }}

  </div>

  <div class="row">
    <div class="col">
      <h4 class="">{{ i18n "ingredients" }}</h4>



      {{ with .Params.Components }}
        <div class="clearfix mxn2">
          {{ range  . }}
            {{ $compTitle := . }}
            <div class="sm-col sm-col-4 px2 recipeItems">
              {{ range where $.Site.Pages "Title" $compTitle }}
                <h4 class=""><a href="{{ .Permalink }}">{{ .Title }}</a></h4>

                <ul class="ingredients" itemprop="ingredients">
                  {{ range .Params.Ingredients }}
                  <li itemprop="ingredient">
                    {{ with ( . | markdownify) }}{{ partial "recipe_item.html" . }}{{ end }}
                  </li>
                  {{ end }}
                </ul>
              {{ end }}
            </div>
          {{ end }}
        </div>
        <p>Assembly</p>
      {{ end }}

      {{ with .Params.Ingredients }}
        <ul itemprop="ingredients">
          <!-- list ingredients that make up recipe -->
          {{ range . }}
            <li itemprop="recipeIngredient">
              {{ with ( . | markdownify) }}{{ partial "recipe_item.html" . }}{{ end }}
            </li>
          {{ end }}
        </ul>
      {{ end }}

      </div>
      <div class="col-8">
        <h4 class="blue mt0 mb2 xs-center">{{ i18n "directions" }}</h4>

        {{ with .Params.Components }}
        <div class="clearfix mxn2">
          {{ range  . }}
            {{ $compTitle := . }}
            <div class="sm-col sm-col-4 px2 recipeItems">
              {{ range where $.Site.Pages "Title" $compTitle }}
                <h4 class=""><a href="{{ .Permalink }}">{{ .Title }}</a></h4>

                <ul class="ingredients" itemprop="ingredients">
                  {{ range .Params.Directions }}
                    <li>
                      {{ with ( . | markdownify) }}{{ partial "recipe_item.html" . }}{{ end }}
                    </li>
                  {{ end }}
                </ul>
              {{ end }}
            </div>
          {{ end }}
        </div>
        <p>Assembly</p>
      {{ end }}

      <ul itemprop="recipeInstructions">
        {{ range .Params.Directions }}
        <li>
          {{ with ( . | markdownify) }}{{ partial "recipe_item.html" . }}{{ end }}</li>
        {{ end }}
      </ul>

    </div>

  </div>








  <article class="post-content px2">
    <!-- call up the main recipe title and content -->
    <header class="post-header">
      <h1 class="post-title center m1 sm-mt3" itemprop="name">{{ .Title }}</h1>
    </header>

    <div class="px2 mt3 clearfix">
      <div class="sm-col-8 mx-auto" itemprop="description">{{.Content}}</div>
    </div>

    <div class="clearfix mt3">
      {{ with .Params.yield }}
      <div class="sm-col sm-col-2">
          <h4 class="blue mt0 mb2 xs-center">{{ i18n "yields" }}: {{ . }}</h4>
      </div>
      {{ end }}
      {{ with .Params.prepTime }}
      <div class="sm-col sm-col-2">
        <h4 class="blue mt0 mb2 xs-center">{{ i18n "prepTime" }}: {{ . }}</h4>
      </div>
      {{ end }}
      {{ with .Params.cookTime }}
      <div class="sm-col sm-col-2">
        <h4 class="blue mt0 mb2 xs-center">{{ i18n "cookTime" }}: {{ . }}</h4>
      </div>
      {{ end }}
    </div>


    <br />

    {{ with .Params.Category }}{{ partial "taxonomy/category" . }}{{ end }}
    {{ with .Params.Cuisine }}{{ partial "taxonomy/cuisine" . }}{{ end }}
    {{ with .Params.Tags }}{{ partial "taxonomy/tags" . }}{{ end }}

    <div class="recipe-source">
      {{ if (or .Params.SourceName .Params.AuthorName) }}
        {{ i18n "inspired" }}
      {{ end }}

      {{ with .Params.SourceName }}
        {{$name := .}}
        {{ i18n "by" }}
        {{with $.Params.SourceURL }}
          <a href="{{.}}">{{$name}}</a>
         {{else}}
           {{$name}}
         {{end}}
      {{ end }}

      {{with .Params.AuthorName}}
        {{$name := .}}
        {{ i18n "from" }}
        {{with $.Params.AuthorURL }}
          <a href="{{.}}">{{$name}}</a>
         {{else}}
           {{$name}}
         {{end}}
      {{end}}
    </div>

  </article>
</div>
{{ end }}
