{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}

<div class="container">
  <article class="recipe-article">
    <!-- call up the image and image credit link -->
    {{ with .Params.Image }}
      <img itemprop="image" src="{{ . }}" class="img-fluid" />
    {{ end }}

    <!-- call up the main recipe title and info -->
    <div class="jumbotron recipe-header">
      <div class="recipe-overview-content">
        <h1 class="recipe-title" itemprop="name">{{ .Title }}</h1>

        <div class="row recipe-info-box">
          <div class="col recipe-info-col">
            {{ with .Params.yield }}
              <span class="recipe-info">
                <span class="info-name">{{ i18n "yields" }}:</span>
                <span class="info">{{ . }}</span>
              </span>
            {{ end }}
          </div>

          <div class="col recipe-info-col">
            {{ with .Params.prepTime }}
              <span class="recipe-info">
                <span class="info-name">{{ i18n "prepTime" }}:</span>
                <span class="info">{{ . }}</span>
              </span>
            {{ end }}
          </div>

          <div class="col recipe-info-col">
            {{ with .Params.cookTime }}
              <span class="recipe-info">
                <span class="info-name">{{ i18n "cookTime" }}:</span>
                <span class="info">{{ . }}</span>
              </span>
            {{ end }}
          </div>

          <div class="col recipe-info-col">
            {{ with .Params.cuisine }}
              <span class="recipe-info">
                <span class="info-name">{{ i18n "cuisine" }}:</span>
                <span class="info">{{ . }}</span>
              </span>
            {{ end }}
          </div>

        </div>

        {{ with .Params.Description }}
          <p class="recipe-description">{{ . }}</p>
        {{ end }}
      </div>
    </div>

    <!-- call up the recipe content -->
    <div class="row recipe">

      <!-- call up recipe ingredients -->
      <div class="col ingredients-col">
        <h4 class="py-3">{{ i18n "ingredients" }}</h4>

        <!-- check if it's a component-based recipe and list ingredients-->
        {{ with .Params.Components }}
          <div class="clearfix">
            {{ range  . }}
              {{ $compTitle := . }}
              <div class="recipeItems">
                {{ range where $.Site.Pages "Title" $compTitle }}
                  <p class="list-name"><a href="{{ .Permalink }}">{{ .Title }}</a></p>

                  <ul class="ingredients" itemprop="ingredients">
                    {{ range .Params.Ingredients }}
                    <li itemprop="ingredient">
                      {{ with ( . | markdownify) }}{{ partial "recipe_item_checkbox.html" . }}{{ end }}
                    </li>
                    {{ end }}
                  </ul>
                {{ end }}
              </div>
            {{ end }}
          </div>
        {{ end }}

        <!-- list ingredients that make up recipe -->
        <div class="recipeItems">
          {{ with .Params.Components }}
            <p class="list-name">{{ i18n "assembly" }}</p>
          {{ end }}

          <ul itemprop="ingredients">
            <!-- list ingredients that make up recipe -->
            {{ range .Params.Ingredients }}
              <li itemprop="recipeIngredient">
                {{ with ( . | markdownify) }}{{ partial "recipe_item_checkbox.html" . }}{{ end }}
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
      <!-- end recipe ingredients -->

      <!-- call up recipe directions -->
      <div class="col-8 instructions-col">
        <h4 class="py-3">{{ i18n "directions" }}</h4>

        <!-- check if it's a component-based recipe and list directions-->
        {{ with .Params.Components }}
        <div class="clearfix">
          {{ range  . }}
            {{ $compTitle := . }}
            <div class="recipeItems">
              {{ range where $.Site.Pages "Title" $compTitle }}
                <p class="list-name"><a href="{{ .Permalink }}">{{ .Title }}</a></p>

                <ul class="recipeInstructions" itemprop="recipeInstructions">
                  {{ range $index, $element := .Params.Directions }}
                    <li>
                      {{ with ( . | markdownify) }}{{ partial "recipe_item_enumerate.html" (dict "element" $element "index" (add $index 1))}}{{ end }}
                    </li>
                  {{ end }}
                </ul>
              {{ end }}
            </div>
          {{ end }}
        </div>
        {{ end }}

        <!-- list directions that make up recipe -->
        <div class="recipeItems">
          {{ with .Params.Components }}
            <p class="list-name">{{ i18n "assembly" }}</p>
          {{ end }}

          <ul itemprop="recipeInstructions">
            {{ range $index, $element := .Params.Directions }}
            <li>
              {{ with ( . | markdownify) }}{{ partial "recipe_item_enumerate.html" (dict "element" $element "index" (add $index 1))}}{{ end }}
            </li>
            {{ end }}
          </ul>
        </div>
        <!-- end recipe directions -->

      </div>
    </div>

    <div class="clearfix recipe-footer">
      <div class="recipe-source">
        {{ if (or .Params.SourceName .Params.AuthorName) }}
          {{ i18n "inspired" }}
        {{ end }}

        {{ with .Params.SourceName }}
          {{$name := .}}
          {{ i18n "by" }}
          {{with $.Params.SourceURL }}
            <a class="source-link" href="{{.}}">{{$name}}</a>
           {{else}}
             {{$name}}
           {{end}}
        {{ end }}

        {{with .Params.AuthorName}}
          {{$name := .}}
          {{ i18n "from" }}
          {{with $.Params.AuthorURL }}
            <a class="source-link" href="{{.}}">{{$name}}</a>
           {{else}}
             {{$name}}
           {{end}}
        {{end}}
      </div>

      <div class="row">
        <div class="col taxonomy">
          {{ with .Params.Tags }}
            {{ partial "taxonomy/tags" . }}
          {{ end }}
        </div>

        <div class="col taxonomy">
          {{ with .Params.Category }}
            {{ partial "taxonomy/category" . }}
          {{ end }}
        </div>

        <div class="col taxonomy">
          {{ with .Params.Cuisine }}
            {{ partial "taxonomy/cuisine" . }}
          {{ end }}
        </div>
      </div>

    </div>
  </article>
</div>
{{ end }}
